{%extends "base.html.twig" %} 
{% block title %}Page Name{% endblock %}

{% block body %}

    <div>
        {{ include("front/template_part/_menu.html.twig", {pp: 'home'} )}}
    </div>
<div class="container">
    <h2>Team</h2>
        
       <div class="col-sm-9"> 
            <p>
               Here you can find our team
            </p>
       </div>  

       <h4>  
            Meet our secretaires !
        </h4>
        <div class="d-flex flex-row justify-content-start">
            {% for secretaire in secretaires %}
                <div class="card mb-2 me-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ secretaire['name'] }}
                        </h4>
                        <h6 class="card-text">
                            {{ secretaire['age'] }}
                        </h6>
                        <p class="card-text">
                            {{ secretaire['job'] }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h4>
            Meet our commercials !
        </h4>
        <div class="d-flex flex-row justify-content-start">
            {% for commercial in commercials %}
                <div class="card mb-2 me-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ commercial['name'] }}
                        </h4>
                        <h6 class="card-text">
                            {{ commercial['age'] }}
                        </h6>
                        <p class="card-text">
                            {{ commercial['job'] }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}