{%extends "base.html.twig" %} 
{% block title %}Form{% endblock %}

{% block body %}
    {{ include("front/template_part/_menu.html.twig", {pp: 'about'} )}}

<div class="container mt-3">

    <h2>Page edit Voyages Form</h2>

    {{ form_start(form) }}
     {# <div class="row">
        <div class="col-sm-6">{{ form_row(form.age) }}</div>
        <div class="col-sm-6">{{ form_row(form.job) }}</div>
    </div> #}
    {{ form_rest(form) }}
        <div class="row text-center">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>

    {{ form_end(form) }}
</div>

    
{% endblock %}